textarea {
    max-height: 144px;
    min-height: 48px;
    overflow-y: auto;
    border-style: none;
    padding: 0.25rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    transition: all 300ms ease-out;
    height: 28px !important;
    color: #2f3640;
}

.scrollbar-transparent::-webkit-scrollbar {
  width: 14px;
}

.scrollbar-transparent::-webkit-scrollbar-thumb {
  background: #88888880 padding-box content-box;
  border: 4px solid #0000;
  border-radius: 7px;
}

.scrollbar-transparent::-webkit-scrollbar-track {
  background: 0 0;
}

.textarea-wrapper {
    
}