.card {
    width: 24rem;
    height: 48rem;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: all .3s;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: transform .2s ease, border-radius .2s ease;
    z-index: 0;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.card:hover::after {
    transform: scale(0.99);
}