/* Section Styling */
.section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: end;
    position: relative;
}

.section h1 {
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: -2px;
    opacity: 0.9;
    margin-bottom: 20px;
}

.section-info {
    font-size: 1.1rem;
    color: #999;
    font-style: italic;
    max-width: 600px;
}